.cipherStep1 {
    width: 100%;
    height: 100%;
    padding: 16px;

    &__inner {
        text-align: center;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__cipherBox {
        margin-bottom: 24px;
        background-color: #e8e8e8;
        padding: 20px;
        border: 3px solid #999;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    }

    &__cipherList,
    &__alphabetList {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__symbol {
        height: 25px;
        width: 25px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        user-select: none;
    }

    &__form {
        margin-top: 10px;
    }

    &__input {
        padding: 10px;
        width: 360px;
        font-size: 16px;
        border: 1px solid #999;
        border-radius: 6px;
        outline: none;

        &.is-error {
            border: 2px solid #c00;
        }
    }

    &__buttonRow {
        margin-top: 12px;
    }

    &__button {
        padding: 10px 24px;
        font-size: 16px;
        cursor: pointer;
    }

    &__error {
        margin-top: 12px;
        color: #c00;
    }

    &__alphabet {
        margin-top: 30px;
        display: none; // hint blijft verborgen in de DOM
    }

    &__alphabetList--letters {
        margin-top: 10px;
    }
}