.terminal-ops-desktop .desktop-icons {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 12px;
    position: relative;
    z-index: 1;
}

.terminal-ops-desktop .desktop-icon {
    margin: 18px;
}
