@use "sass:color";
@use "../../../styles/win95" as *;

.taskbar {
    @include win95-border("raised", 2px);
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    width: 100%;
    height: 32px;
    background-color: $win95-bg;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    padding: 3px;
    gap: 4px;

    @include win95-font;

    &__start {
        @include win95-border("raised");
        padding: 2px 8px;
        font-weight: bold;
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 6px;
        background: $win95-bg;

        img {
            height: 16px;
            width: 16px;
        }

        &:hover {
            background: color.scale($win95-bg, $lightness: 8%);
        }

        &:active {
            @include win95-border("sunken");
        }

        &:focus {
            outline: 1px dotted $border-darker;
            outline-offset: 1px;
        }
    }

    &__menu {
        position: absolute;
        bottom: 32px; // net boven de taskbar
        left: 0;
        width: 180px;

        background: $win95-bg;
        @include win95-border("raised", 2px);
        box-shadow: 3px 3px $border-darker;
        z-index: 1000;

        ul {
            list-style: none;
            margin: 0;
            padding: 2px;
        }

        &-item {
            padding: 4px 6px;
            display: flex;
            align-items: center;
            gap: 6px;

            cursor: pointer;
            font-size: 13px;
            white-space: nowrap;

            .icon {
                width: 16px;
                text-align: center;
            }

            &:hover {
                background: $win95-blue-titlebar;
                color: $win95-titlebar-text;
            }
        }
    }

    &__windows {
        display: flex;
        flex-grow: 1;
        height: 100%;
        min-width: 0;
        gap: 3px;

        .taskbar__window-button {
            @include win95-border("raised");
            flex: 1 1 160px;
            background-color: $win95-bg;
            padding: 2px 6px;
            cursor: pointer;

            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background: color.scale($win95-bg, $lightness: 8%);
            }

            &--active {
                @include win95-border("sunken");
                font-weight: bold;
            }

            &:focus {
                outline: 1px dotted $border-darker;
                outline-offset: -2px;
            }
        }
    }

    &__clock {
        @include win95-border("sunken", 1px);
        margin-left: auto;
        padding: 4px 8px;
        font-size: 12px;
        background: $win95-bg;
    }
}